@font-face {
  font-family: HVD_Bodedo;
  src: url(../font/HVD_Bodedo.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* Main Voyage 1 */

#accueil{
  height: 87.5vh;
  border-bottom: solid 2px black;
}

#ban-ours{
  height: 100%;
  width: 100%;
}

#intro{
  color: black;
  border-bottom: solid 1px black;
  height: 100vh;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 1%;
}

#intro-text{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

@keyframes mymove{
  from {left: 0%;}
  to {left: 90%;}
}

#iceberg{
  padding-top: -3%;
  height: 30%;
  margin-left: -90%;
  animation-timing-function: linear 25s;
  position: relative;
  animation: mymove 25s infinite;
}

#sommaire{
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
  font-size: 18px;
  text-align: left;
  font-weight: normal;
}

.sommaire{
  display: flex;
  flex-direction: column;
}

h2{
  text-align: center;
  font-family: HVD_Bodedo,cursive;
}

li a{
    color: black;
}

ul{
    list-style: none;
}

li a:hover{
  color: black;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: none;
}

.span-titres{
  color: #6dd9e2;
  text-shadow: 2px 3px 3px black;
}
.span-text{
  font-weight: bold;
  color: #408097;
}

.span-text2{
  font-weight: bold;
}

.section-vh{
  padding-right: 1%;
  padding-left: 1%;
  color: black;
  padding-top: 1%;
  height: 100vh;
  border-bottom: 1px black solid;
}

#quand-text{
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 18%;
  padding-left: 18%;
}

#aurore{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 5%;
}

#quand-lien{
  text-align: center;
}

i{
  color : #408097;
  font-size: 26px;
}

#map{
  width: 600px;
  height: 450px;
}

#avion-contenu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 9%;
}

#article-regles{
  border-radius: 5px;
  margin-top: 2%;
  margin-left: 12%;
  margin-right: 12%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  box-shadow: 0px 0px 7px 3px #408097 inset ;
}

#warning{
  margin-top: 2%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#visite-svalbard{
  padding-right: 1%;
  padding-left: 1%;
  color: black;
  padding-top: 1%;
  height: 450vh;
  border-bottom: 1px black solid;
}

#visite-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2%;
}

#kayak{
  padding-left: 5%;
  width: 40%;
}

#visite-1-text{
  padding-left: 5%;
  padding-right: 5%;
}

#visite-2{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

#ours-pic{
  margin-top: 2%;
}

#visite-2-text{
  padding-top: 2%;
}

#visite-3{
  margin-top: 10%;
}

.visite-3-text{
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
}

.guides{
  width: 50%;
}

#que-faire{
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  box-shadow: 0px 0px 7px 3px #408097 inset ;
}

#global-seed{
  width: 40%;
}
