* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    cursor: context-menu;
}
body {
    /*background-image: url("../images/coree/daechwita4.jpg");*/
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    width: 100%;
    background-color: #F5F5F5;
}
/*Carousel*/
.carousel {
  position: relative;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  background: rgba(0,0,0,0.4);
  padding: 15px 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
.carousel img {
  object-fit: cover;
  object-position: bottom center;

}

/*
section {
    background-color: #F5F5F5;
    box-shadow: 0px 0px 19px 22px #F5F5F5;
    display: grid;
    width: 70%;
}*/

.section {
  display: grid;
  place-items: center;
  text-align: justify;
  padding-top: 4em;
  padding-bottom: 2em;
}


figure {
  display: grid;
  place-items: center;
}

/*css formulaire*/
#formulaire {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#formulaire form {
    width: 35%;
    border: rgba(255, 46, 126, 0.5) 1px solid;
    padding: 20px;
    border-radius: 15px;
    line-height: 40px;
    display: grid;
    place-items: center;
    background-color: rgb(240, 240, 240, 0.7);
}
#formulaire form div {
    display: grid;
    place-items: center;
    width: 100%;
}
#formulaire form div input, #formulaire form div select, #formulaire form div textarea {
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 46, 126, 0.5);
    width: 100%;
}

#formulaire button {
    background: #ff3da8;
    border: none;
    padding: 0 24px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 2em;
}

#area {
    width: 100%;
    height: 5em;
}

#formulaire img {
    width: 20%;
    border-radius: 15px;
}
